<%= form_with model: Current.user, url: settings_email_path do |form| %>
  <% if form.object.errors.any? %>
    <div>Error:
      <%= form.object.errors.full_messages.first %></div>
  <% end %>

  <div>
    <%= form.label "新邮箱", class: "w-[60px] inline-block" %>
    <%= form.email_field :unconfirmed_email,
                     required: true,
                     class: "border-2 border-gray-500 rounded-full px-3 py-1" %>
  </div>

  <div class="mt-3">
    <%= form.label "密  码", class: "w-[60px] inline-block" %>
    <%= form.password_field :password_challenge,
                        required: true,
                        autocomplete: "current-password",
                        class: "border-2 border-gray-500 rounded-full px-3 py-1" %>
  </div>

  <div class="mt-5">
    <%= form.submit "更新",
                class:
                  "cursor-pointer bg-green-500 rounded-full px-3 py-1 text-white text-sm" %>
  </div>
<% end %>
