<%= form_with model: Current.user, url: settings_profile_path do |form| %>
  <% if form.object.errors.any? %>
    <div>Error:
      <%= form.object.errors.full_messages.first %></div>
  <% end %>

  <div>
    <%= form.label "名" %>
    <%= form.text_field :first_name,
                    required: true,
                    autocomplete: "given-name",
                    class: "border-2 border-green-300 rounded-full px-5 py-2" %>
  </div>

  <div class="mt-5">
    <%= form.label "姓" %>
    <%= form.text_field :last_name,
                    required: true,
                    autocomplete: "family-name",
                    class: "border-2 border-gray-400 rounded-full px-5 py-2" %>
  </div>

  <div class="mt-5">
    <%= form.submit "更新",
                class:
                  "cursor-pointer rounded-full px-3 py-1 bg-blue-600 text-white text-sm" %>
  </div>
<% end %>
