<%= content_for :content do %>
  <section class="settings">
    <nav class="flex gap-2">
      <%= link_to "Profile",
      settings_profile_path,
      class: "bg-gray-300 rounded-full px-3 py-1 text-white" %>
      <%= link_to "Password",
      settings_password_path,
      class: "bg-blue-300 rounded-full px-3 py-1 text-white" %>
      <%= link_to "Email",
      settings_email_path,
      class: "bg-green-300 rounded-full px-3 py-1 text-white" %>
      <%= link_to "Account",
      settings_user_path,
      class: "bg-pink-300 rounded-full px-3 py-1 text-white" %>

      <% if Current.user.admin? %>
        <%= link_to "产品列表",
        store_products_path,
        class: "bg-yellow-500 rounded-full px-3 py-1 text-white" %>
        <%= link_to "用户列表",
        store_users_path,
        class: "bg-red-500 rounded-full px-3 py-1 text-white" %>
      <% end %>
    </nav>

    <div class="mt-5">
      <%= yield %>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>
